/* CSS files add styling rules to your content */

body {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 0.5em;
  }
  
  h1 {  
    color: #373fff;
  }
  

  #statusDiv {  
    background-color: #eee;
  }

  .speed {
    position: absolute;
    background: lightgray;
    font-size: 35vmin;
    font-weight: 900;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }